    <script src="http://localhost:3000/jquery/jquery.min.js"></script>
    <script src="http://localhost:3000/axios/axios.min.js"></script>
    <script src="http://localhost:3000/assets/js/app.js"></script>
 </body>
</html>